
@font-face {
    font-family: 'TT Hoves';
    src: local('TT Hoves Thin'), local('TTHoves-Thin'),
        url('../fonts/TTHoves-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'TT Hoves';
    src: local('TT Hoves ExtraLight'), local('TTHoves-ExtraLight'),
    url('../fonts/TTHoves-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'TT Hoves';
    src: local('TT Hoves Light'), local('TTHoves-Light'),
    url('../fonts/TTHoves-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'TT Hoves';
    src: local('TT Hoves Regular'), local('TTHoves-Regular'),
    url('../fonts/TTHoves-Regular.woff2') format('woff2');
    font-weight: normal 400;
    font-style: normal;
}

@font-face {
    font-family: 'TT Hoves';
    src: local('TT Hoves Medium'), local('TTHoves-Medium'),
    url('../fonts/TTHoves-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'TT Hoves';
    src: local('TT Hoves DemiBold'), local('TTHoves-DemiBold'),
        url('../fonts/TTHoves-DemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'TT Hoves';
    src: local('TT Hoves Bold'), local('TTHoves-Bold'),
    url('../fonts/TTHoves-Bold.woff2') format('woff2');
    font-weight: bold 700;
    font-style: normal;
}
@font-face {
    font-family: 'TT Hoves';
    src: local('TT Hoves ExtraBold'), local('TTHoves-ExtraBold'),
    url('../fonts/TTHoves-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'TT Hoves';
    src: local('TT Hoves Black'), local('TTHoves-Black'),
        url('../fonts/TTHoves-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'SF Pro Display';
    src: local('SF Pro Display'), local('SF-Pro-Display-Black'),
    url('../fonts/SF-Pro-Display-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}



