.fade-out {
    opacity: 0;
}

.move-in {
    animation-name: fadein;
    animation-timing-function: ease;
    animation-duration: 0.5s;
    animation-iteration-count: 2;
    animation-direction: alternate;
}

@keyframes fadein {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(5%);
    }
}
