:root {
    //    colors
    --palette1: #333333;
    --palette2: #BDBDBD;
    --palette3: #000000;
    --palette4: #F2F2F2;
    --palette5: #F3F3F3;
    --palette6: #8D8D8D;
    --palette7: #C30000;
    --palette8: #FFFFFF;
    --palette9: #FBFBFB;
    --palette10: rgba(0, 0, 0, 0.25);
    --palette11: rgba(51, 51, 51, 0.8);
    --palette12: #8D8D8D;
    --palette13: #2C2C2C;

    --main-text-color: var(--palette3);
    --secondary-text-color: var(--palette2);
    --contrast-text-color: var(--palette8);
    --warn-text-color: var(--palette7);

    --main-bg-color: var(--palette8);

    --main-button-text-color: var(--palette1);
    --main-button-bg-color: var(--palette1);
    --contrast-button-bg-color: var(--palette8);

    --header-main-color: var(--palette2);
    --header-secondary-color: var(--palette1);
    --header-contast-color: var(--palette8);

    --slider-label-color: var(--palette2);

    --form-elem-bg: var(--palette5);
    --form-palaceholder-text-color: var(--palette6);

    --header-block-link-color: var(--palette1);
    --header-block-link-border-color: var(--palette8);
    --header-block-link-border-color-active: var(--palette1);

    --about-block-bg-color: var(--palette9);

    --task-block-number-color: var(--palette4);
    --task-block-text-color: var(--palette1);

    --projects-block-color: var(--palette11);

    --contacts-block-label-color: var(--palette12);

    --footer-block-bg-color: var(--palette13);

}

